In [ ]:
import cx_Oracle
import numpy as np,pandas as pd
from datetime import date
import requests,sqlalchemy as sq,time as t,datetime 
import sys,pyodbc as py,json

In [ ]:
today = date.today()
print(today)
dataset.to_excel(f'asf_{today}.xlsx',index=False)

In [ ]:
#Anti-join bir cədvəldən digərini exclude etmək üçün
def anti_join(df_A, df_B, key):
    set_diff = set(df_A[key]).difference(df_B[key])
    bool_diff = df_A[key].isin(set_diff)
    df_diff = df_A.loc[bool_diff]
    return df_diff

In [ ]:
#SQL-ə qoşulmaq üçün

dsn_tns = cx_Oracle.makedsn('', '', service_name='') # if needed, place an 'r' before any parameter in order to address special characters such as '\'.
conn = cx_Oracle.connect(user='', password='', dsn=dsn_tns)

In [ ]:
scrpt='''
'''

In [ ]:
weekly_lead = pd.read_sql(scrpt,con=conn)

In [ ]:
weekly_lead=weekly_lead.drop_duplicates(subset='PHONE',keep='first')

In [ ]:

dataset=dataset.rename(columns={"Phone": "PHONE"})

In [ ]:
dataset=dataset.merge(dataset2, on='KB_ID', how='left')

In [ ]:
dt1=dataset.loc[(dataset['segment']=='not')]

In [ ]:
dataset=pd.read_sql('''
''',con=conn)

In [ ]:
dataset_new=dataset.loc[(dataset['isit']==1)]

In [ ]:
dataset_new=dataset.loc[(dataset['isit1'] == 0 ) & (dataset['isit2'] == 1)]
dataset_new=dataset_new[weekly_ind['BIRBANK'].isnull()]

In [ ]:
idd=list(dataset['KB_ID'])

In [ ]:
dataset = pd.DataFrame()
for i in range(0,len(idd),1000):
    b='('
    for j in idd[i:i+1000]:
        b = b+"'"+str(j)+"',"
    b = b[:-1]
    b = b+')'
    print(i)
    dataset_drop = pd.read_sql(scrpt + b,con=conn)
    dataset = dataset.append(dataset_drop, ignore_index = True)


STARTS FROM HERE

In [ ]:
### START FROM HERE


df = dataset.sample(frac=1).reset_index(drop=True)
len(df)

In [ ]:
25500/4

In [ ]:
dff1 = df.iloc[:6375]
dff1.shape
dff1.tail()

In [ ]:
dff1 = df.iloc[68789:68788*2]
dff1.shape
dff1.tail()

In [ ]:
# Make sure no column is duplicate after index slicing. Save 4 dataframes to excel files.

df1 = df.iloc[:6375]
df2 = df.iloc[6375:6375*2]
df3 = df.iloc[6375*2:6375*3]
df4 = df.iloc[6375*3:]

In [ ]:
df3.shape+df2.shape+df1.shape+df4.shape

In [ ]:
ls = ["GENDER","AGESEGMENT","ELIGIBILITY","TYPE","ACTIVE_CREDIT_CARD"]

In [ ]:
df1[ls[3]].value_counts()

In [ ]:
df2[ls[3]].value_counts()

In [ ]:
df3[ls[3]].value_counts()

In [ ]:
s = df4[ls[3]].value_counts()

In [ ]:
def test_splits(df):
    temp_l = []
    final_l = []
    for i in ls:
        val = list(df[i].value_counts())
        temp_l.append(val)
    for i in temp_l:
        s = [round(x/sum(i)*100,2) for x in i]
        final_l.append(s)
    return final_l

In [ ]:
t = test_splits(df1)

In [ ]:
t

In [ ]:
final = []
t = test_splits(df1)
final.append(t)
t = test_splits(df2)
final.append(t)
t = test_splits(df3)
final.append(t)
t = test_splits(df4)
final.append(t)

In [ ]:
final

In [ ]:
for i in final:
    print(i[0])

In [ ]:
for i in final:
    print(i[1])

In [ ]:
for i in final:
    print(i[2])

In [ ]:
for i in final:
    print(i[3])

In [ ]:
ls[3]

In [ ]:
ls1 = list(dataset[ls[0]].value_counts()) #Change index of ls for checking different columns

In [ ]:
ls1

In [ ]:
s = [round(x/sum(ls1)*100,2) for x in ls1] #value ratio of TYPE column in original dataframe

In [ ]:
s

In [ ]:
df1.to_excel('part_1.xlsx',index=False)
df2.to_excel('part_2.xlsx',index=False)
df3.to_excel('part_3.xlsx',index=False)
df4.to_excel('part_4.xlsx',index=False)

In [ ]:
final=[]
t = test_splits(df1)
final.append(t)
t = test_splits(df2)

In [ ]:
df1.info()

In [ ]:

#only gtk ete sp
only_gtk_ete_sp_sms=weekly_sp_sms.loc[(weekly_sp_sms['BK'] == 0 ) & (weekly_sp_sms['GTK_ETE'] == 1)]
weekly_sp_sms=anti_join(weekly_sp_sms,only_gtk_ete_sp_sms,'PHONE')
only_gtk_ete_sp_sms.shape
only_gtk_ete_sp_sms_ph=only_gtk_ete_sp_sms['PHONE']
only_gtk_ete_sp_sms_ph.to_excel('only_gtk_ete_sp_sms.xlsx',index=False)